@use "../abstracts/fun.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../utils/vars.scss" as vars;

.item {
  position: relative;
  background-color: vars.$white;
  @include flex(center, center, row);
  width: em(200);
  height: em(200);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  @include smallScreen() {
    width: em(130);
    height: em(130);
  }
  img {
    width: em(90);
    height: em(100);
    @include smallScreen() {
      width: em(80);
      height: em(90);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    z-index: -1;
    left: -10%;
    top: -10%;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    box-shadow: em(0) -em(10) lightgrey;
    top: 5%;
  }
  &.paper {
    &::before {
      background: linear-gradient(
        vars.$PaperGradientTop,
        vars.$PaperGradientBottom
      );
      box-shadow: em(11) em(4) vars.$ScoreText;
    }
  }
  &.rock {
    &::before {
      background: linear-gradient(
        vars.$RockGradientTop,
        vars.$RockGradientBottom
      );
      box-shadow: em(11) em(4) hsl(349deg 97% 38%);
    }
  }
  &.scissors {
    &::before {
      background: linear-gradient(
        vars.$ScissorsGradientTop,
        vars.$ScissorsGradientBottom
      );
      box-shadow: em(11) em(4) hsl(40deg 100% 37%);
    }
  }
  &.lizard {
    &::before {
      background: linear-gradient(
        vars.$LizardGradientTop,
        vars.$LizardGradientBottom
      );
      box-shadow: em(11) em(4) hsl(261, 100%, 40%);
    }
  }
  &.spock {
    &::before {
      background: linear-gradient(vars.$CyanTop, vars.$CyanBottom);
      box-shadow: em(11) em(4) hsl(189, 98%, 40%);
    }
  }
}
