@use "../abstracts/fun.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../utils/vars.scss" as *;

.item {
  position: relative;
  background-color: $white;
  @include flex(center, center, row);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  @include smallScreen() {
    width: 130px;
    height: 130px;
  }
  img {
    width: 90px;
    height: 100px;
    @include smallScreen() {
      width: 80px;
      height: 90px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    z-index: -1;
    left: -10%;
    top: -10%;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0px -10px lightgrey;
    top: 5%;
  }
  &.paper {
    &::before {
      background: linear-gradient($PaperGradientTop, $PaperGradientBottom);
      box-shadow: 11px 4px $ScoreText;
    }
  }
  &.rock {
    &::before {
      background: linear-gradient($RockGradientTop, $RockGradientBottom);
      box-shadow: 11px 4px hsl(349deg 97% 38%);
    }
  }
  &.scissors {
    &::before {
      background: linear-gradient(
        $ScissorsGradientTop,
        $ScissorsGradientBottom
      );
      box-shadow: 11px 4px hsl(40deg 100% 37%);
    }
  }
  &.lizard {
    &::before {
      background: linear-gradient($LizardGradientTop, $LizardGradientBottom);
      box-shadow: 11px 4px hsl(261, 100%, 40%);
    }
  }
  &.spock {
    &::before {
      background: linear-gradient($CyanTop, $CyanBottom);
      box-shadow: 11px 4px hsl(189, 98%, 40%);
    }
  }
}
