$ScissorsGradientTop: hsl(39, 89%, 49%);
$ScissorsGradientBottom: hsl(40, 84%, 53%);

$PaperGradientTop: hsl(230, 89%, 62%);
$PaperGradientBottom: hsl(230, 89%, 65%);

$RockGradientTop: hsl(349, 71%, 52%);
$RockGradientBottom: hsl(349, 70%, 56%);

$LizardGradientTop: hsl(261, 73%, 60%);
$LizardGradientBottom: hsl(261, 72%, 63%);

$CyanTop: hsl(189, 59%, 53%);
$CyanBottom: hsl(189, 58%, 57%);

$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);

$RadialGradientTop: hsl(214, 47%, 23%);
$RadialGradientBottom: hsl(237, 49%, 15%);
