@use "../abstracts/fun.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../utils/vars.scss" as *;

body {
  background: linear-gradient($RadialGradientTop, $RadialGradientBottom);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 20px;
  overflow: hidden;
}
main {
  width: 100vw;
  @include flex(flex-start, center, column);
  height: 100vh;
  overflow: hidden;
}
.score-section {
  @include flex(space-between, center, row);
  width: 1000px;
  // height: 150px;
  padding: 15px;
  @include smallScreen() {
    width: 100%;
  }
  @media (width: 767.2px) {
    width: 100%;
  }
  @media (max-width: 991px) and (min-width: 768px) {
    width: 90%;
  }
  border: 2px solid $HeaderOutline;
  border-radius: 15px;
  padding: 10px 25px;
  user-select: none;
  .item-list {
    h2 {
      line-height: 1;
      font-size: 35px;
      color: $white;
      letter-spacing: 1px;
    }
  }
  .score {
    background-color: $white;
    padding: 5px 50px;
    border-radius: 15px;
    text-align: center;
    @include smallScreen() {
      padding: 5px 20px;
    }
    h1 {
      font-size: 50px;
      color: $DarkText;
    }
    span {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 3px;
      color: $ScoreText;
    }
  }
}
.choosing-part {
  position: relative;
  width: 1000px;
  // display: none;
  height: 565px;
  @include smallScreen() {
    width: 100%;
  }
  @media (max-width: 991px) and (min-width: 768px) {
    width: 85%;
  }

  &.rock-paper-scissors {
    .item {
      position: absolute;

      &.paper {
        top: 7%;
        left: 22%;
        @include smallScreen() {
          top: 25%;
          left: 5%;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          left: 3%;
        }
      }
      &.scissors {
        top: 7%;
        right: 22%;
        @include smallScreen() {
          top: 25%;
          right: 7%;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 3%;
        }
      }
      &.rock {
        top: 58%;
        left: calc(61% - 210px);
        @include smallScreen() {
          top: 60%;
          left: calc(83% - 210px);
        }
        @media (max-width: 991px) and (min-width: 768px) {
          left: 35%;
        }
      }
    }
    .line {
      position: absolute;
      width: 200px;
      height: 15px;
      background-color: hsl(237, 49%, 15%);
      z-index: -2;
      &.one {
        top: 25%;
        left: 38%;
        @include smallScreen() {
          top: 35%;
        }
      }
      &.two {
        top: 58%;
        left: 30%;
        rotate: 65deg;
        @include smallScreen() {
          top: 50%;
          left: 0;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          left: 20%;
        }
      }
      &.three {
        top: 58%;
        right: 30%;
        rotate: -65deg;
        @include smallScreen() {
          top: 50%;
          right: 0;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 20%;
        }
      }
    }
  }
  &.rock-paper-scissors-lizard-spock {
    .item {
      position: absolute;
      &.paper {
        top: 42%;
        left: 12%;
        @include smallScreen() {
          top: 25%;
          left: 5%;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          left: 3%;
        }
      }
      &.scissors {
        top: 42%;
        right: 12%;
        @include smallScreen() {
          top: 25%;
          right: 7%;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 3%;
        }
      }
      &.lizard {
        top: 91%;
        left: 23%;
        @include smallScreen() {
          top: 25%;
          right: 7%;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 3%;
        }
      }
      &.spock {
        top: 91%;
        right: 23%;
        @include smallScreen() {
          top: 25%;
          right: 7%;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 3%;
        }
      }
      &.rock {
        top: 7%;
        left: calc(61% - 210px);
        @include smallScreen() {
          top: 60%;
          left: calc(83% - 210px);
        }
        @media (max-width: 991px) and (min-width: 768px) {
          left: 35%;
        }
      }
    }
    .line {
      position: absolute;
      width: 200px;
      height: 15px;
      background-color: hsl(237, 49%, 15%);
      z-index: -2;
      &.one {
        top: 42%;
        left: 25%;
        rotate: -40deg;
        @include smallScreen() {
          top: 35%;
        }
      }
      &.two {
        top: 42%;
        right: 25%;
        rotate: 40deg;
        @include smallScreen() {
          top: 50%;
          left: 0;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          left: 20%;
        }
      }
      &.three {
        top: 80%;
        right: 16%;
        rotate: -65deg;
        @include smallScreen() {
          top: 50%;
          right: 0;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 20%;
        }
      }
      &.four {
        top: 80%;
        left: 16%;
        rotate: 65deg;
        @include smallScreen() {
          top: 50%;
          right: 0;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 20%;
        }
      }
      &.five {
        top: 110%;
        left: 45%;
        @include smallScreen() {
          top: 50%;
          right: 0;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          right: 20%;
        }
      }
    }
  }
}
