@use "../abstracts/fun.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../utils/vars.scss" as vars;

body {
  background: linear-gradient(
    vars.$RadialGradientTop,
    vars.$RadialGradientBottom
  );
  background-repeat: no-repeat;
  background-position: center;
  padding-top: em(20);
  overflow-x: hidden;
  overflow-y: hidden;
}
main {
  width: 100vw;
  @include flex(flex-start, center, column);
  height: 100vh;
  overflow: hidden;
}

.choosing-part {
  position: relative;
  width: em(1000);
  height: em(565);
  @include smallScreen() {
    width: 100%;
  }
  @media (max-width: em(991)) and (min-width: em(768)) {
    width: 85%;
  }

  &.rock-paper-scissors {
    transition: 600ms;
    position: absolute;
    top: 30%;
    &.show {
      transform: translateX(130%);
    }
    .item {
      position: absolute;
      &.paper {
        top: 7%;
        left: 22%;
        @include smallScreen() {
          top: 25%;
          left: 5%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          left: 3%;
        }
      }
      &.scissors {
        top: 7%;
        right: 22%;
        @include smallScreen() {
          top: 25%;
          right: 7%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 3%;
        }
      }
      &.rock {
        top: 58%;
        left: calc(61% - em(210));
        @include smallScreen() {
          top: 60%;
          left: calc(83% - em(210));
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          left: 35%;
        }
      }
    }
    .line {
      position: absolute;
      width: em(200);
      height: em(15);
      background-color: hsl(237, 49%, 15%);
      z-index: -2;
      &.one {
        top: 25%;
        left: 38%;
        @include smallScreen() {
          top: 35%;
        }
      }
      &.two {
        top: 58%;
        left: 30%;
        rotate: 65deg;
        @include smallScreen() {
          top: 50%;
          left: 0;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          left: 50%;
          top: 85%;
        }
      }
      &.three {
        top: 58%;
        right: 30%;
        rotate: -65deg;
        @include smallScreen() {
          top: 50%;
          right: 0;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 20%;
        }
      }
    }
  }
  &.rock-paper-scissors-lizard-spock {
    transition: 600ms;
    position: absolute;
    top: 22%;
    &.show {
      transform: translateX(-140%);
    }
    .item {
      position: absolute;
      &.paper {
        top: 42%;
        left: 12%;
        @include smallScreen() {
          top: 33%;
          left: 63%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          left: 3%;
        }
      }
      &.scissors {
        top: 42%;
        right: 12%;
        @include smallScreen() {
          top: 7%;
          right: 36%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 3%;
        }
      }
      &.lizard {
        top: 91%;
        left: 23%;
        @include smallScreen() {
          top: 65%;
          left: 10%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 3%;
        }
      }
      &.spock {
        top: 91%;
        right: 23%;
        @include smallScreen() {
          top: 33%;
          left: 4%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 3%;
        }
      }
      &.rock {
        top: 7%;
        left: calc(61% - em(210));
        @include smallScreen() {
          top: 65%;
          left: 60%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          left: 35%;
        }
      }
    }
    .line {
      position: absolute;
      width: em(200);
      height: em(15);
      background-color: hsl(237, 49%, 15%);
      z-index: -2;
      &.one {
        top: 42%;
        left: 25%;
        rotate: -40deg;
        @include smallScreen() {
          top: 28%;
          rotate: -46deg;
          left: 12%;
        }
      }
      &.two {
        top: 42%;
        right: 25%;
        rotate: 40deg;
        @include smallScreen() {
          top: 20%;
          left: 34%;
          rotate: 46deg;
        }
      }
      @media (max-width: em(991)) and (min-width: em(768)) {
        left: 20%;
      }
      &.three {
        top: 80%;
        right: 16%;
        rotate: -65deg;
        @include smallScreen() {
          top: 65%;
          right: 3%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 20%;
        }
      }
      &.four {
        top: 80%;
        left: 16%;
        rotate: 65deg;
        @include smallScreen() {
          top: 65%;
          left: 3%;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 20%;
        }
      }
      &.five {
        top: 110%;
        left: 45%;
        @include smallScreen() {
          top: 76%;
          right: 0;
        }
        @media (max-width: em(991)) and (min-width: em(768)) {
          right: 20%;
        }
      }
    }
  }
}
