@use "../abstracts/fun.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../utils/vars.scss" as *;

.battlefield-section {
  position: relative;
  width: 1000px;
  height: 565px;
  @include flex(center, Center, row);
  display: none;
  @include smallScreen() {
    width: 350px;
    gap: 68px;
  }
  @media (max-width: 991px) and (min-width: 768px) {
    width: 100%;
  }
  .player,
  .house {
    position: relative;
    @include smallScreen() {
      @include flex(center, Center, row);
    }
    h3 {
      color: white;
      font-size: 26px;
      text-align: center;
      position: absolute;
      top: -70%;
      width: 100%;
      left: 50%;
      transform: translate(-50%);
      @include smallScreen() {
        top: -100%;
      }
    }
    &.win {
      .item {
        .wave {
          position: absolute;
          border-radius: 50%;
          &.one {
            width: 170%;
            height: 170%;
            background-color: rgba($color: $DarkText, $alpha: 0.7);
            z-index: -2;
          }
          &.two {
            width: 240%;
            height: 240%;
            background-color: rgba($color: $DarkText, $alpha: 0.3);
            z-index: -3;
          }
          &.three {
            width: 300%;
            height: 300%;
            background-color: rgba($color: $DarkText, $alpha: 0.1);
            z-index: -4;
          }
        }
      }
    }
  }
  .again {
    padding: 30px;
    width: 500px;
    @include flex(center, Center, column);
    @include smallScreen() {
      position: absolute;
      top: 77%;
    }
    h1 {
      color: white;
      font-size: 75px;
      letter-spacing: 2px;
      text-align: center;
      @include smallScreen() {
        font-size: 60px;
      }
    }
    button {
      padding: 20px 85px;
      border-radius: 4px;
      background-color: $white;
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: 700;
      color: $RadialGradientBottom;
      transition: 300ms;
      @include smallScreen() {
        padding: 20px 40px;
        font-size: 15px;
      }
      &:hover {
        color: $RockGradientBottom;
      }
    }
  }
}
