@use "../abstracts/fun.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../utils/vars.scss" as *;

.battlefield-section {
  position: relative;
  width: em(1000);
  height: em(565);
  @include flex(center, Center, row);
  display: none;
  @include smallScreen() {
    width: em(350);
    gap: em(68);
  }
  @media (max-width: em(991)) and (min-width: em(768)) {
    width: 100%;
  }
  .player,
  .house {
    position: relative;
    @include smallScreen() {
      @include flex(center, Center, row);
    }
    h3 {
      color: white;
      font-size: em(26);
      text-align: center;
      position: absolute;
      top: -70%;
      width: 100%;
      left: 50%;
      transform: translate(-50%);
      @include smallScreen() {
        top: -100%;
      }
    }
    &.win {
      .item {
        .wave {
          position: absolute;
          border-radius: 50%;
          &.one {
            width: 170%;
            height: 170%;
            background-color: rgba($color: $DarkText, $alpha: 0.7);
            z-index: -2;
          }
          &.two {
            width: 240%;
            height: 240%;
            background-color: rgba($color: $DarkText, $alpha: 0.3);
            z-index: -3;
          }
          &.three {
            width: 300%;
            height: 300%;
            background-color: rgba($color: $DarkText, $alpha: 0.1);
            z-index: -4;
          }
        }
      }
    }
  }
  .again {
    padding: em(30);
    width: em(500);
    @include flex(center, Center, column);
    @include smallScreen() {
      position: absolute;
      top: 77%;
    }
    h1 {
      color: white;
      font-size: em(75);
      letter-spacing: em(2);
      text-align: center;
      @include smallScreen() {
        font-size: em(60);
      }
    }
    button {
      padding: em(20) em(85);
      border-radius: em(4);
      background-color: $white;
      letter-spacing: em(2);
      font-size: em(20);
      font-weight: 700;
      color: $RadialGradientBottom;
      transition: 300ms;
      @include smallScreen() {
        padding: em(20) em(40);
        font-size: em(15);
      }
      &:hover {
        color: $RockGradientBottom;
      }
    }
  }
}
